.nav-link.active {
    font-weight: bold;
    text-decoration: underline;
    
}

.nav-avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    
}

