.landing-container {
    min-height: 100vh;
    background: linear-gradient(135deg, #2e7d32, #1b5e20);
}

.landing-navbar {
    background: rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(6px);
    /* Safari */
    backdrop-filter: blur(6px);
    /* Resto de navegadores */
}

.landing-hero {
    margin-top: 40px;
}

.login-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 350px;
}

.landing-footer {
    background: rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(6px);
    /* Safari */
    backdrop-filter: blur(6px);
    /* Resto de navegadores */
}

.register-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* Esta clase se actualizará dinámicamente desde React */
.register-bg.dynamic-bg {
    background-image: var(--register-bg);
}

.register-box {
    width: 380px;
}

